a {
  text-decoration: none;
}

nav {
  margin: 2rem;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav-links {
  display: table-cell;
  justify-content: space-between;
  width: 100%;
}

.nav-item {
  margin: 0 1rem 0 1rem;
}